/* 全局样式 */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 250px 1fr; /* 侧边栏固定宽度，主内容占剩余空间 */
  min-height: 100vh;
}

/* 侧边栏样式 */
.sidebar {
  background: #f5f5f5;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 100px;
}

.sidebar-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.dropdown {
  margin: 10px 0;
}

.dropdown-header {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-header i {
  margin-right: 10px;
}

.dropdown-content {
  padding-left: 20px;
}

.dropdown.inactive .dropdown-content {  
  display: none;
}

.menu-item {
  padding: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-item i {
  margin-right: 10px;
}

.menu-item:hover {
  background: #e0e0e0;
}

.sidebar-footer {
  padding: 1rem;
  border-top: 1px solid #ddd;
  margin-top: auto;
}

.add-todo-btn {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background: #e2e2e2;
  border-radius: 4px;
  cursor: pointer;
}

.add-todo-btn:hover {
  color: white;
  background: #a1a1a1;
}

.sidebar.collapsed .sidebar-content,
.sidebar.collapsed .sidebar-footer {
  display: none;
}

/* 主内容样式 */
#main {
  padding: 20px;
  box-sizing: border-box;
}

header {
  padding: 10px;
  border-radius: 4px;
}

header h1 {
  margin: 0;
}

ul {
  list-style-type: none; /* 去掉 bullet point */
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s, text-decoration 0.3s;
}

li.completed {
  background-color: #dddddd;
  color: #a1a1a1;
  text-decoration: line-through;
}

li.completed span.due-date {
  background-color: #dddddd;
  color: #a1a1a1;
  text-decoration: line-through;
}

li span.due-date {
  background-color: #929292;
  color: white;
  padding: 2px 4px;
  margin-right: 8px;
  border-radius: 4px;
}

li input[type="checkbox"] {
  margin-right: 8px;
}

/* 响应式设计 */
@media screen and (max-width: 1024px) {
  body {
    grid-template-columns: 25% 75%;
  }
}

@media screen and (max-width: 768px) {
  body {
    grid-template-columns: 30% 70%;
  }
}

@media screen and (max-width: 480px) {
  body {
    grid-template-columns: 100%;
  }
  
  .sidebar {
    position: fixed;
    z-index: 100;
    transform: translateX(-100%);
  }
}