/* Custom Styles */
body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: width 0.3s;
  }
  
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #sidebar.collapsed {
    width: 50px;
  }

  .hamburger-icon, .add-icon, .add-genre-icon {
    cursor: pointer;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .user-icon {
    margin-right: 10px;
  }
  
  .menu, .classification {
    margin-top: 20px;
  }
  
  .menu-item, .classification-header div {
    padding: 10px;
    cursor: pointer;
  }
  
  .menu-item:hover, .classification-header div:hover {
    background-color: #ddd;
  }

  